<div class="container">
	<div class="panel panel-default">
	    <div class="panel-body">
			<div class="row">

				<div class="col-sm-12">
					<h2>{{product.name}}<span class="label label-warning pull-right">{{product.price | number:2}} zł</span></h2>
					<p>{{product.description}}</p>
					
					<hr>
				</div>	
				 
			</div>
			<div class="row">
					<div class="col-sm-12">
						<!-- <button type="submit" class="btn btn-danger">Zapisz zmiany</button> -->
						<a href="#/products" class="btn btn-default">Wróć</a>	
						<button ng-click="addToCart(product)" class="btn btn-success pull-right">Dodaj do koszyka</button>				
					</div>					
			</div>
		</div>
	</div>
</div>
