<div class="container">
	<div ng-controller="products"> 
		<div class="row">
			<div class="col-sm-6 form-group">
	            <input type="text" class="form-control" placeholder="Szukaj" ng-model="search">
	        </div>
	        <div class="col-sm-6 text-right">
	        	<a href="#/product/create" class="btn btn-success pull-right">Nowy produkt</a>
	        </div>
        </div>
		
	    <div class="alert alert-info" ng-repeat="product in products | filter : search">

	        <span class="text-capitalize">{{product.nazwa}}</span>
	        <br> 
	        {{product.cena | number:2}} zł
	        <br>
	        <br>
	        <a href="#/product/edit/{{$index}}" class="btn btn-success">Edytuj</a>
	        <button ng-click="delete(product, $index)" class="btn btn-danger pull-right ">Usuń</button>

	    </div>
	</div>
</div>
